/* Center logo vertically in navbar */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Add margin to buttons and dropdown */
.navbar-nav {
  margin-right: 20px;
}

/* Style buttons */
.navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
  margin-right: 10px;
}

/* Style 3dots icon */
.navbar-nav .nav-link i {
  font-size: 1.5rem;
  color: #333;
}

/* Style dropdown menu */
.dropdown-menu {
  background-color: #f8f9fa;
}

/* Style dropdown menu items */
.dropdown-item {
  color: #333;
  font-weight: bold;
}
